services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - client
      - server
    networks:
      - main

  postgres_twofactor:
    container_name: postgres_twofactor
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DATABASE}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - main

  server:
    container_name: server
    build:
      context: ./back
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - postgres_twofactor
    env_file:
      - .env
    ports:
      - "4200:4200"
    networks:
      - main

  client:
    container_name: client
    build:
      context: ./front
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - server
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - main

volumes:
  postgres_data:

networks:
  main:
